<div class="pokemon-card">
  <p class="pokemon-title">{{pokemon.name}}</p>
  <img class="pokemon-image" src={{pokemon.image}}/>
  <p id="height">Height: {{pokemon.height}}</p>
  <P id="weight">Weight: {{pokemon.weight}}</P>
</div>